.menu-navbar {
    flex: 1 1 auto;
    /*height: 100px;*/
    background-color: #00b0f0;
    color: #fff;
    height: 80px;
}

.navbar-menu-button {
    margin-left: 10px;
    margin-right: 10px;
    color: #fff;
    background-color: transparent;
    border: 0px solid;
    cursor: pointer;
}